html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul
{
    list-style: none;
}

/* particleground demo */

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#title-section
{
    margin-top: 3.6%;
}
/********************************/
/*         TYPOGRAPHY           */
/********************************/
@font-face
{
    /*font-family: SegoeUIL2;*/
    font-family: SegoeUIL2,'Segoe UI Light','Segoe WP Light','Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    /*src: url(font/segoeuil.eot) format('embedded-opentype');*/
    src: url(font/segoeuil.ttf) format('truetype');
}

@font-face
{
    font-family: SegoeMDL2;
    src: url(font/segmdl2.ttf);
}

@font-face
{
    font-family: SegoeUI;
    src: url(font/segoeui.ttf);
}

@font-face
{
    font-family: SegoeUIB;
    src: url(font/segoeuib.ttf);
}

/*@font-face {
    font-family: SegoeUIL;
    src: url(font/segoeuil.ttf);
}*/

@font-face
{
    font-family: BroMDL2;
    src: url(font/BroMDL2.1.53.ttf);
}

@font-face
{
    font-family: segoeuisl;
    src: url(font/segoeuisl.ttf);
}

body
{
    background: #DEA88A;
    background-image: url("../../img/FRE_RS1_bg_summer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    font-family: SegoeUI;
    line-height: 1;
    margin: 0 auto;
    width: 1366px;
    outline: none;
}


h2, h3, h4, h5, h6
{
    font-family: SegoeUI;
}

a
{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

#scaleWrap
{
    width: 100%;
    height: 100%;
    min-width: 500px;
    overflow: hidden;
    outline: none;
    min-width: 1250px;
    min-height: 650px;
    max-height: 99%;
    max-width: 99%;
}

#welcome
{
    width: 98%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    min-width: 1250px;
    min-height: 650px;
    max-height: 99%;
    max-width: 99%;
}

h2
{
    font-size: 34px;
    margin: 4% 0 0px 0px;
    text-align: center;
}

p.subtitle
{
    text-align: center;
    margin-top: 0.5%;
    font-size: 18px;
    font-family: Segoe UI;
    color: #000000;
}

h3
{
    font-size: 16px;
}

p
{
    margin: 0 0 20px 0;
    font-size: 18px;
}

.btn-wrap
{
    margin: 0 auto;
    width: 90%;
    display: inline-block;
    left: 10%;
}

.btn
{
    width: 33%;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 1px;
    height: 305px;
}

    .btn .icon-wrap
    {
        height: 140px;
        margin: 0 auto;
        position: relative;
    }

        .btn .icon-wrap img
        {
            height: 160px;
        }

.favorites.btn .icon-wrap img
{
    height: 170px;
}


.btn .hvr-box
{
    display: none;
    position: absolute;
    left: 10%;
    /*top:calc(60%);*/
    height: 300px;
    width: 400px;
    max-height: 99%;
    max-width: 99%;
    opacity: 1;
    transform: scale(1.0);
}

#favorites-box
{
    top: 84%;
    left: 3%;
    height: auto;
    /*transition:0.1s ease;
    transition-duration: 0.1s;*/
}

#divImgSurfSafelyContent
{
    top: 84%;
    height: auto;
    /*transition:0.1s ease;
    transition-duration: 0.1s;*/
}

#divExtensionContent
{
    top: 80%;
    left: -15%;
    width: 800px;
    height: auto;
    /*transition:0.1s ease;
    transition-duration: 0.1s;*/
}

#divExtensionSection
{
    position: relative;
    left: 10%;
    right: -12%;
    top: 0px;
}

#divExtensionBox
{
    left: 23%;
    top: 20%;
    right: -11%;
}
/*
.btn.hover .hvr-box {
  display:block;
  opacity:0;
  transform:scale(0.7);
  transition:all 0.3s;
}
*/
/*.btn.hover.showBox  .hvr-box, .btn.hover:hover .hvr-box{
  transition:all 0.5s;
  opacity:1;
  transform:scale(1);
  z-index:999;
}*/



h1,h2
{
    font-size: 44px;
    margin-left: 20px;
    letter-spacing: normal;
    text-align: left;
    font-family: SegoeUIB;
    white-space: nowrap;
    color: #000000;
}

.bottom-wrap
{
    margin: 8px 0 0 20px;
    text-align: left;
}

    .bottom-wrap p
    {
        font-family: SegoeUI;
        font-size: 18px;
        color: #000000;
        line-height: 130%;
    }

.more-btn
{
    background: #0078D7;
    display: inline-block;
    padding: 5px 20px;
    height: 32px;
    box-sizing: border-box;
}

.img-wrap
{
    background: #0078D7;
    display: inline-block;
    padding: 5px 20px;
    height: 32px;
    box-sizing: border-box;
}


    .img-wrap img
    {
        margin: 0 auto;
    }

.secure .img-wrap img
{
    width: 500px;
    margin-left: -40px;
}

.favorites .img-wrap img
{
    width: 400px;
}

#divFavoritesBox
{
    position: absolute;
    margin-top: 25%;
    left: 30%;
}

#divImgNumber1
{
    position: relative;
    top: 84%;
    left: -7%;
    opacity: 0;
}

#divSurfSafelyBox
{
    position: absolute;
    margin-top: 25%;
    margin-left: 26%;
}

#divImgNumber2
{
    position: relative;
    top: 84%;
    display: inline-block;
    left: 3%;
    opacity: 0;
}

#divImgNumber3
{
    position: relative;
    top: -17px;
    left: -15%;
    opacity: 0;
}

#extension-heading
{
    white-space: pre-wrap;
    line-height: 110%;
}

#LL
{
    position: relative;
    top: -10px;
    opacity: 0;
    LEFT: -1px;
    /*width:119px;
    height:144px;*/
}

#UL
{
    position: relative;
    opacity: 0;
    LEFT: -4px;
    /*width:119px;
    height:144px;*/
    top: 33px;
}

#UR
{
    position: relative;
    LEFT: -50px;
    top: 33px;
    opacity: 0;
    /*width:119px;
    height:144px;*/
}

#LR
{
    position: relative;
    LEFT: -70px;
    top: -10px;
    opacity: 0;
    width: 115px;
    /*height:144px;*/
}

#imgNumber1, #imgNumber2, #imgNumber3
{
    top: 5px;
    position: relative;
}

#lblNumber1, #lblNumber2, #lblNumber3
{
    position: relative;
    left: 12px;
}

#divDiscoverySection
{
    width: 80%;
    display: none;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 6%;
    /*margin-top:4%;*/
}


.title
{
    font-family: SegoeUIL2,'Segoe UI Light','Segoe WP Light','Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    font-size: 34px;
    color: #000000;
    left: 35%;
    top: 7%;
    right: -35%;
    margin: 4% 0 0px 0px;
    text-align: center;
}

#imgFavorites
{
    position: relative;
    left: 10%;
    top: 15%;
    width: 178px;
    height: 144px;
    right: 19%;
    opacity: 0;
}

#imgStar
{
    position: absolute;
    left: 30%;
    top: 20%;
    opacity: 0;
}

#imgSurfExpand
{
    opacity:0;
    position: absolute;
    width: 333px;
    height: 214px;
    display: block;
    top: -50%;
    left: -50%;
    right: 0%;
    transform: scale(0.1);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

#imgSurfSafely
{
    position: relative;
    width: 137px;
    height: 144px;
    top: 0px;
    right: 23%;
    left: 40px;
    opacity: 0;
}

#final_text
{
    margin-left: 40%;
    position: absolute;
    text-align: left;
    top: -10px;
    margin-top: 0%;
    margin-bottom: 1%;
    top: -50px;
    font-family: SegoeUIB;
}

#divDiscoveryContent
{
    width: 100%;
    margin-top: 5%;
    left: 40%;
    font-family: SegoeUI;
}

#pDiscoveryContent
{
    width: 30%;
    margin-left: 40%;
    line-height: 130%;
}

#divSurfSafelySection
{
    left: 2%;
    right: 23%;
    top: 20%;
}

#divFavoritesSection
{
    left: 4%;
    top: 0%;
}

#divFavoritesSection, #divSurfSafelySection, #divExtensionSection, #divDiscoverySection, #imgFavorites, #imgSurfSafely, #LR
{
    outline: none;
}

#lblHubIcon
{
    font-family: BroMDL2;
    position: relative;
    top: 3px;
}

#bottom-wrap3
{
    width: 430px;
}

#tips
{
    margin: 0 0.1cm 0.5cm 40%;
    padding: 7px 15px;
    height: 32px;
}

@media only screen and (max-width:1295px) and (min-width:1135px)
{
    body {
        width:1135px;        
    }
    #divExtensionSection
    {
        margin-left: -5%;
        margin-top: 0%;
    }

    #bottom-wrap3
    {
        width: 280px;
        margin-top: 0%;
    }
}

@media only screen and (max-width:1136px) and (min-width:1085px)
{
    body {
        width:1085px;        
    }
    #title-section
    {
        margin-left: -14%;
    }

    #welcome
    {
        transform: scale(1.0);
        transition: all 0.3s;
    }

    .btn-wrap
    {
        margin-left: -5%;
        margin-top: -2%;
    }

    #scaleWrap
    {
        width: 1000px;
        height: 100%;
        overflow: hidden;
        outline: none;
    }
        #divSurfSafelySection {
        left:0%;
    }
    #divExtensionSection
    {
        margin-left: -8%;
        margin-top: 0%;
    }
        #divDiscoverySection
    {
        left: 3%;
    }
    #bottom-wrap3
    {
        width: 280px;
        margin-top: 0%;
    }
}

@media only screen and (max-width:1084px) and (min-width:1001px)
{
    body {
        width:1001px;        
    }
    #title-section
    {
        margin-left: -14%;
    }

    #welcome
    {
        transform: scale(1.0);
        transition: all 0.3s;
    }

    .btn-wrap
    {
        margin-left: -5%;
        margin-top: -2%;
    }

    #scaleWrap
    {
        width: 1000px;
        height: 100%;
        overflow: hidden;
        outline: none;
    }
    #divSurfSafelySection {
        left:-1%;
    }
    #divExtensionSection
    {
        margin-left: -8%;
        margin-top: 0%;
    }
    #divDiscoverySection
    {
        left: 3%;        
    }
    #bottom-wrap3
    {
        width: 280px;
        margin-top: 0%;
    }
}

@media only screen and (max-width:1000px) and (min-width:916px)
{
    body {
        width:916px;
    }
    #welcome
    {
        transform: scale(1.0);
        transition: all 0.3s;
    }

    #title-section
    {
        margin-left: -20%;
    }

    body
    {
        background-image: url("../../img/FRE_RS1_bg_summer.png");
        background-repeat: no-repeat;
    }

    #scaleWrap
    {
        width: 916px;
        height: 100%;
        overflow: hidden;
        outline: none;
    }

    .btn-wrap
    {
        width: 80%;
        margin-top: -1%;
    }

    #divFavoritesSection
    {
        margin-left: -5%;
    }
    #divSurfSafelySection {
        left:-1%;
    }
    #divExtensionSection
    {
        margin-left: 0%;
        left:0%;
        margin-top: 0%;
        top: -12px;
    }
    #divImgNumber3 {
        left: -15%;
        width: 180px;
        top:-5px;
    }
    h1,h2
    {
        font-size: 34px;
        white-space: nowrap;
    }

    #bottom-wrap3
    {
        width: 280px;
        margin-top: 0%;
    }

    #divDiscoverySection
    {
        left: 3%;
        margin-top: 6%;
    }
}




@media only screen and (max-width:915px) and (min-width:701px)
{
   #welcome
    {
        /*transform: scale(0.7);*/
        transition: all 0.3s;
    }
    html {
        overflow:auto;
    }
    body
    {
        width: 701px;
        height: 100%;
        background-image: url("../../img/FRE_RS1_bg_summer.png");
        background-repeat: no-repeat;
        margin: 0% auto;
    }

    #welcome
    {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        min-width: 701px;
        min-height: 700px;
    }

    #scaleWrap
    {
        width: 701px;
        height: 100%;
        min-width: 701px;
        overflow: hidden;
        outline: none;
    }

    .btn-wrap
    {
        width: 99%;
        margin-top: -5%;
    }

    #divFavoritesSection
    {
        width: 33%;
        padding: 0%;
        left: -5%;
        margin: 0 auto;
        margin-top: 6%;
    }
    #divFavoritesBox {
        margin-top: 35%;
    }
    #imgFavorites {
        width: 148px;
        height: 120px;

    }
    #imgStar {
            width: 60px;
    height: 60px;
    }
    #divImgNumber1 {
        left: -12%;
    }
    #divSurfSafelySection
    {
        right: 23%;
        top: 20%;
        width: 33%;
        left: -5%;
        margin: 0 auto;
        margin-top: 6%;
    }
    #imgSurfSafely {

        width:115px;
        height:110px;
        top:15px;
        left:20px;
    }
    #imgSurfExpand {
        width: 250px;
        height:184px;
        left:-55%;
        top:-47%;
        opacity:0;
    }
    #divImgNumber2 {
        margin-top:-18%;
        margin-left:28%;
    }
    #divExtensionSection
    {
        left: 0%;
        margin: 0 auto;
        margin-top: 6%;
        top: -12px;
    }

    #UL
    {
        top: 24px;
        left: -3px;
        width:100px;
        height:100px;
    }

    #UR
    {
        LEFT: 65px;
        top: -78.5px;
        width:100px;
        height:100px;
    }

    #LL
    {
        top: -112px;
        LEFT: -2.5px;
        width:100px;
        height:100px;
    }

    #LR
    {
        width:105px;
        height:105px;
        top:15px;        
        left:95px; /*to left 128px*/
        position: absolute;
        margin-top: 90px;
    }
    

    #divImgNumber1
    {
        position: relative;
        margin-top: -20%;
        margin-left: 28%;
    }

    #divImgNumber2
    {
        margin-top: -20%;
        margin-left: 34%;
        position: absolute;
    }

    #divImgNumber3
    {
        position: relative;
        top: -98px;
    }

    #favorites-box
    {
        margin-left: 15%;
        top: 68%;        
    }
    #divImgSurfSafelyContent {
        top: 68.5%;
        left: 0%
    }
    #divExtensionContent
    {
        margin-left: 1%;
        left: -5%;
        top: 68%;
    }

    #bottom-wrap3
    {
        width: 220px;
    }

    h1,h2
    {
        font-size: 30px;
        white-space: normal;
    }

    #divDiscoverySection
    {
        left: 15%;
        top: -80px;
        width: 80%;
    }

    #final_text
    {
        margin-left: 35%;
        margin-top: 3%;
        font-size: 24px;
    }

    #divDiscoveryContent
    {
        width: 200px;
        margin-left: 19%;
        margin-top: 9%;
    }

    #pDiscoveryContent
    {
        width: 200px;
        font-size: 15px;
    }

    #final_text
    {
        margin-left: 20%;
        margin-top: 3%;
        font-size: 24px;
    }

    #pDiscoveryContent
    {
        width: 200px;
        font-size: 15px;
        MARGIN-LEFT: 10PX;
    }

    a
    {
        text-decoration: none;
        font-size: 16px;
        color: white;
    }

    #tips
    {
        background: #0078D7;
        display: inline-block;
        padding: 5px 5px;
        height: 32px;
        box-sizing: border-box;
        margin-left: 7px;
    }
}


@media only screen and (max-height:640px)
{
    html
    {
        overflow-y: scroll;
        height:640px;
    }
}
@media only screen and (max-width: 500px)
{
    #welcome
    {
        transform: scale(1.0);
        transition: all 0.3s;
    }

    body
    {
        width: 500px;
        height: 100%;
        background-image: url("../../img/FRE_RS1_bg_summer.png");
    }

    #welcome
    {
        width: 98%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        min-width: 500px;
        min-height: 650px;
        max-height: 99%;
        max-width: 99%;
    }

    #scaleWrap
    {
        width: 100%;
        height: 100%;
        min-width: 500px;
        overflow: hidden;
        outline: none;
    }

    .btn-wrap
    {
        width: 99%;
    }

    #divFavoritesSection
    {
        width: 33%;
        padding: 0%;
        left: 0%;
    }

    #divSurfSafelySection
    {
        right: 23%;
        top: 20%;
    }

    #divSurfSafelyBox
    {
        margin-left: 0%;
    }

    #divExtensionSection
    {
        position: relative;
        right: -12%;
        top: 0px;
    }

    .btn .hvr-box
    {
        padding: 0%;
        width: 200px;
    }

    .btn
    {
        padding: 0px;
    }

    .bottom-wrap p
    {
        font-size: 15px;
        line-height: 130%;
    }

    .bottom-wrap
    {
        width: 170px;
    }

    .more-btn
    {
        padding: 4px 5px 8px 5px;
    }

    h1,h2
    {
        font-size: 24px;
        white-space: normal;
    }

    #divImgNumber1
    {
        position: relative;
        top: 55%;
    }

    #divFavoritesBox
    {
        top: 20%;
    }

    #imgNumber1, #imgNumber2, #imgNumber3
    {
        top: 5px;
        position: relative;
        width: 19px;
        height: 19px;
    }


    #imgFavorites
    {
        position: relative;
        left: 10%;
        top: 15%;
        width: 90px;
        height: 70px;
        right: 19%;
    }

    #imgStar
    {
        position: absolute;
        left: 30%;
        width: 40px;
        height: 40px;
    }

    #divImgNumber2
    {
        top: 55%;
        left: -6%;
        position: absolute;
    }

    #imgSurfExpand
    {
        top: 45%;
        left: 0%;
        width: 140px;
        height: 100px;
        display: block;
        opacity:0;
    }

    #imgSurfSafely
    {
        width: 70px;
        height: 70px;
        top: 60px;
        left: 35px;
    }

    #divExtensionSection
    {
        left: 0%;
    }

    #UL
    {
        width: 58px;
        height: 54px;
        top: 71px;
        left: 3px;
    }

    #UR
    {
        width: 55px;
        height: 54px;
        LEFT: -22px;
        top: 70px;
    }

    #LL
    {
        top: 48px;
        LEFT: 4px;
        width: 58px;
        height: 54px;
    }

    #LR
    {
        width: 57px;
        height: 57px;
        LEFT: -46px;
        top: 49px;
    }

    #divImgNumber3
    {
        top: 53px;
        left: -20%;
    }

    #favorites-box
    {
        top: 60%;
    }

    #divImgSurfSafelyContent
    {
        top: 60%;
        left: -17%;
    }

    #divExtensionContent
    {
        top: 60%;
        left: -23%;
    }

    #bottom-wrap3
    {
        width: 165px;
    }

    #divDiscoverySection
    {
        left: -12%;
        top: -25px;
        width: 100%;
    }

    #final_text
    {
        margin-left: 35%;
        margin-top: 3%;
        font-size: 24px;
    }

    #divDiscoveryContent
    {
        width: 200px;
        margin-left: 19%;
    }

    #pDiscoveryContent
    {
        width: 200px;
        font-size: 15px;
    }

    #tips
    {
        margin-left: 40%;
        padding: 4px 5px 8px 5px;
    }
}


@media only screen and (max-width:485px)
{
    html
    {
        overflow-x: scroll;
        
    }
}


@media only screen and (max-width:700px) and (min-width:501px) {

        #welcome
    {
        transform: scale(1.0);
        transition: all 0.3s;
    }

    body
    {
        width: 500px;
        height: 100%;
        background-image: url("../../img/FRE_RS1_bg_summer.png");
    }

    #welcome
    {
        width: 98%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        min-width: 500px;
        min-height: 650px;
        max-height: 99%;
        max-width: 99%;
    }

    #scaleWrap
    {
        width: 100%;
        height: 100%;
        min-width: 500px;
        overflow: hidden;
        outline: none;
    }

    .btn-wrap
    {
        width: 99%;
    }

    #divFavoritesSection
    {
        width: 33%;
        padding: 0%;
        left: -3%;
    }

    #divSurfSafelySection
    {
        right: 23%;
        top: 20%;
    }

    #divSurfSafelyBox
    {
        margin-left: 0%;
    }

    #divExtensionSection
    {
        /*position: relative;*/        
        top: 0px;
        margin-left:0%;
        left:5%;
            
    }

    .btn .hvr-box
    {
        padding: 0%;
        width: 200px;
    }

    .btn
    {
        padding: 0px;
    }

    .bottom-wrap p
    {
        font-size: 15px;
        line-height: 130%;
    }

    .bottom-wrap
    {
        width: 170px;
    }

    .more-btn
    {
        padding: 4px 5px 8px 5px;
    }

    h1,h2
    {
        font-size: 24px;
        white-space: normal;
    }

    #divImgNumber1
    {
        position: relative;
        top: 60%;
        left:-3px;
    }

    #divFavoritesBox
    {
        top: 10%;
        left: 20%;
    }

    #imgNumber1, #imgNumber2, #imgNumber3
    {
        top: 5px;
        position: relative;
        width: 21px;
        height: 21px;
    }


    #imgFavorites
    {
        position: relative;
        left: 10%;
        margin-top: 15%;
        width: 110px;
        height: 90px;
        right: 19%;
    }

    #imgStar
    {
        position: absolute;
        left: 30%;
        width: 40px;
        height: 40px;
        margin-top:20%;
    }

    #divImgNumber2
    {
        top: 61%;
        left: -6%;
        position: absolute;
    }

    #imgSurfExpand
    {
    top: 1%;
    left: -20%;
    width: 200px;
    height: 140px;
    display: block;
    opacity:0;
    }

    #imgSurfSafely
    {
        width: 96px;
        height: 95px;
        margin-top: 50px;
        left: 35px;
        top:0px;
    }

    #divExtensionSection
    {
        left: 0%;
    }

   #UL
    {
        width: 83px;
        height: 78px;
        top: 41px;
        left: 0px;
    }

    #UR
    {
        width: 80px;
        height: 78px;
        LEFT: 55.5px;
        top: -39px;
    }

    #LL
    {
        top: -66px;
        LEFT: 1px;
        width: 84px;
        height: 80px;
    }

    #LR
    {
        width: 84px;
        height: 78px;
        left: 27px;  /*to 57px*/
        top: -146.5px;
    }

    #divImgNumber3
    {
        top: -133px;
        left: -5%;
    }

    #favorites-box
    {
        top: 60%;
    }

    #divImgSurfSafelyContent
    {
        top: 60%;
        left: -22%;
    }

    #divExtensionContent
    {
        top: 60%;
        left: -20%;
    }

    #bottom-wrap3
    {
        width: 165px;
    }

    #divDiscoverySection
    {
        left: -12%;
        top: -50px;
        width: 100%;
    }

    #final_text
    {
        margin-left: 35%;
        margin-top: 3%;
        font-size: 24px;
    }

    #divDiscoveryContent
    {
        width: 200px;
        margin-left: 19%;
    }

    #pDiscoveryContent
    {
        width: 200px;
        font-size: 15px;
    }

    #tips
    {
        margin-left: 40%;
        padding: 4px 5px 8px 5px;
    }
}