// locale specific fonts

body.ja-jp {
    font-family: 'Yu Gothic UI', "SegoeUI", sans-serif;
}

body.ko-kr {
    font-family: 'Malgun Gothic', "SegoeUI", sans-serif;
}

body.th-th {
    font-family: 'Leelawadee UI', "SegoeUI", sans-serif;
}

body.zh-cn {
    font-family: 'Microsoft YaHei UI', "SegoeUI", sans-serif;
}

body.zh-hk {
    font-family: 'Microsoft JhengHei UI', "SegoeUI", sans-serif;
}

body.zh-tw {
    font-family: 'Microsoft JhengHei UI', "SegoeUI", sans-serif;
}